
.div-btn-options {
  width: 250px;
  height: 250px;
  border-radius: 15%;
}
.img-options {
  width: 110px;
  height: 110px;
}
.label-btn-options {
  font-size: 30px;
  font-weight: bold;
}
#chk-point {
  background-color: greenyellow;
  margin-left: 135px;
}

#d-data {
  background-color: red;
  margin-right: 135px;
}
#ul-data {
  background-color: skyblue;
}


#title-body {
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 70px;
  color: white;
}


@media (min-width: 768px) {

  #title-body {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 70px;
    color: white;
  }
  .div-btn-options {
    width: 250px;
    height: 250px;
    border-radius: 15%;
  }
  .img-options {
    width: 110px;
    height: 110px;
  }
  .label-btn-options {
    font-size: 30px;
    font-weight: bold;
  }
}

