html,
body {
  background-color: rgb(29, 27, 28) !important;
  min-width: 786px;
}
.back-refresh-container1 {
  margin-top: 162px;
  margin-bottom: -207px;
}

.label-btn {
  color: black;
}
/* BackDrop and modal */
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(27, 27, 27, 0.75);
}
.back-arrow {
  position: absolute;
  z-index: 5;
  width: 55px;
  top: 40%;
  left: 0px;
}
.back-arrow > img {
  padding: 3px;
  width: 70px;
}
.foward-arrow {
  position: absolute;
  z-index: 5;
  width: 55px;
  top: 40%;
  right: 15px;
}
.foward-arrow > img {
  padding: 3px;
  width: 70px;
}
.modal {
  position: fixed;
  z-index: 3;
  top: 28%;
  left: 15%;
  width: 70%;
  height: auto;
  border: 2px solid black;
  border-radius: 50px;
  background-color: rgb(60, 60, 60);
}
.modal-title {
  color: rgb(202, 202, 202);
  text-align: center;
  font-size: 32px;
}
.modal-model__container {
  display: flex;
  overflow-x: hidden;
  margin: 0px 50px;
}
.modal-client {
  text-align: center;
  color: white;
}
.modal-btn {
  background: inherit;
  padding: 10px;
  width: 170px;
  margin: 25px 8px 11px 31px;
  border-radius: 40px;
  font-size: 33px;
  box-shadow: none;
  border: 1px black solid;
  background-color: rgba(27, 27, 27, 0.76);
}
.modal-btn > img {
  width: 100%;
}
.back-refresh-btn {
  background-color: white;
  border-radius: 12px;
  width: 50px;
  height: 40px;
  margin-bottom: 40px;
}
.modal-btn:hover {
  background-color: rgb(82, 82, 82);
  border-color: white;
}
.modal-btn:hover > img {
  filter: invert(100);
}
/* End of BackDrop */

.form-container {
  margin: 25px;
  border: 1px rgb(194, 194, 194) solid;
  justify-content: center;
}
.form-group {
  margin: 25px 25px;
}

.btn {
  padding: 15px;
  width: 170px;
  border-radius: 45px;
  font-size: 33px;
}

.btn-menu {
  display: flex;
  width: 300px;
  height: 50px;
  border-radius: 13px;
  font-size: 30px;
  text-align: end;
  padding-top: -5px;
  /* padding-right: 40px; */
  margin-bottom: 10px;
}
.input-text {
  font-weight: bold;
  color: rgb(228, 228, 228) !important;
}

.back-refresh {
  width: 90px;
}
.btn-lbl {
  color: white;
  margin-top: -24px;
}
#refresh-lbl {
  margin-left: 18px;
}
#back-lbl {
  margin-right: 26px;
}

.form-control-lg1 {
  font-size: 23px;
  margin-bottom: 10px;
  width: 874px;
  height: 73px;
  margin-top: 10px;
  justify-content: center;
  border-radius: 13px !important;
  background-color: white;
  text-decoration-color: gray;
  color: black;
  text-align: center;
}

#btn-date {
  background-color: #dc3545;
  border: none;
}
#btn-client {
  background-color: #6f42c1;
}
#btn-model {
  background-color: #ffc107;
}
#btn-process {
  background-color: #3498db;
}

.btn-lbl {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
.btn-next-rotate {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  body {
    min-width: 768px;
    min-height: 755px;
  }
  .modal-btn {
    width: 145px;
  }
}

@media (min-width: 786px) {
  #container-body {
    min-width: 674px;
    border-top: solid 0px;
    padding-bottom: 34px;
    padding-top: 34px;
  }
  .btn-menu {
    display: flex;
    width: 300px;
    height: 50px;
    position: unset;
    font-size: 30px;
    padding-top: -5px;
    /* padding-right: 40px; */
  }

  .form-control-lg1 {
    font-size: 23px;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
    width: 400px;
    height: 58px;
  }
  .modal-btn {
    background: inherit;
    padding: 10px;
    width: 170px;
    margin: 10px;
    border-radius: 40px;
    font-size: 33px;
    box-shadow: none;
    border: 1px black solid;
    background-color: rgba(27, 27, 27, 0.76);
  }
}
@media (min-width: 960px) {
  #container-body {
    padding-bottom: 34px;
    padding-top: 34px;
  }
  .btn-menu {
    display: flex;
    width: 320px;
    position: unset;
    padding-top: -5px;
    /* padding-right: 40px; */
    font-size: 30px;
  }

  .form-control-lg1 {
    font-size: 25px;
    margin-bottom: 10px;
    width: 550px;
    height: 60px;
    margin-top: 10px;
    justify-content: center;
  }
  .modal-btn {
    background: inherit;
    padding: 10px;
    width: 170px;
    margin: 30px;
    border-radius: 40px;
    font-size: 33px;
    box-shadow: none;
    border: 1px black solid;
    background-color: rgba(27, 27, 27, 0.76);
  }
}
@media (min-width: 1000px) {
  /* .back-arrow {
    top: 48%;
    left: 24px;
  }

  .foward-arrow {
    top: 48%;
    right: 34px;
  } */
}

@media (min-width: 1200px) {
  body {
    max-width: 1200px;
  }
  #container-body {
    padding-bottom: 102px;
    padding-top: 140px;
  }
  .btn-menu {
    display: flex;
    width: 490px;
    height: 73px;
    font-size: 45px;
    padding-top: -5px;
    /* padding-right: 40px; */
  }

  .form-control-lg1 {
    font-size: 30px;
    margin-bottom: 5px;
    width: 874px;
    height: 73px;
    margin-top: 3px;
    justify-content: center;
  }
  .modal-btn {
    background: inherit;
    padding: 10px;
    width: 170px;
    margin: 50px;
    border-radius: 40px;
    font-size: 33px;
    box-shadow: none;
    border: 1px black solid;
    background-color: rgba(27, 27, 27, 0.76);
  }
}
