html,
body {
  background-color: rgb(29, 27, 28);
}
.contenedor {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h-90 {
  height: 85%;
}
#version-text {
  color: white;
  justify-self: end;
}
.navigation-bar {
  border-bottom: 1px gray solid;
}
.logo-size {
  width: 75px;
}
.title-size {
  width: 360px;
  display: block;
  margin: auto;
}
.item > img {
  width: 40px;
}

.caption {
  font-size: 9px;
  font-weight: 300;
  margin: -10px 0;
  white-space: nowrap;
}
.location-img > img {
  width: 47px;
}
.caption-location {
  font-size: 9px;
  font-weight: 300;
  margin: 0px 0;
}
.Content {
  flex: 1 0 auto;
}
.Footer {
  flex-shrink: 0;
  margin-top: 10px;
}
.footer-style {
  border-top: gray 1px solid;
  margin: 0;
}
@media (min-width: 960px) {
  .logo-size {
    width: 90px;
  }
  .title-size {
    width: 400px;
  }
  .item > img {
    width: 50px;
  }
}
@media (min-width: 1024px) {
  .logo-size {
    width: 100px;
  }
  .title-size {
    width: 410px;
  }
  .item > img {
    width: 53px;
  }
  .caption {
    font-size: 12px;
  }
  .location-img > img {
    width: 55px;
  }
  .caption-location {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  body {
    max-width: 1200px;
    margin: auto;
  }
  .navigation-bar {
    width: 1200px;
  }
  .footer-style {
    width: 1200px;
  }
}
