.Loader {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -50px !important;
  margin-left: -50px !important;
}
.Loader-backdrop {
  position: fixed !important;
  z-index: 9 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgba(73, 73, 73, 0.445) !important;
}
svg {
  width: 100px !important;
  height: 100px !important;
  stroke: rgb(224, 93, 6) !important;
  position: fixed !important;
  z-index: 1000000000 !important;
}
