.Loader {
  position: absolute;
  z-index: 11;
}
.Loader-backdrop {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(27, 27, 27, 0.75);
}
svg {
  width: 100px;
  height: 100px;
  stroke: rgb(224, 93, 6);
  position: fixed;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  z-index: 13;
}
